[Unit]
Description=FruitJuice: iDevice battery bridge service
Documentation=https://github.com/turannul/fruitjuice

[Service]
ExecStart=/usr/bin/fruitjuiced
Restart=on-failure
RestartSec=300

[Install]
WantedBy=default.target
