[Unit]
Description=FruitJuice: iDevice Battery Bridge Daemon
StartLimitBurst=5
StartLimitIntervalSec=3600

[Service]
ExecStartPre=/usr/bin/modprobe fruitjuice
ExecStart=/usr/local/bin/fruitjuiced --debug
ExecStopPost=/usr/bin/modprobe -r fruitjuice
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
