[Unit]
Description=Netmuxd - USB multiplexing daemon
Conflicts=usbmuxd.service
After=network.target

[Service]
ExecStart=/usr/bin/netmuxd
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
